/.asdf
/.bash_history
/.cache
/.cargo
/.cd_history
/.codex
/.conda
/.config/abogen
/.config/arkrc
/.config/atuin
/.config/audacity
/.config/autostart
/.config/BraveSoftware
/.config/btop
/.config/bunkus.org
/.config/calibre
/.config/chezmoi
/.config/dconf
/.config/epy
/.config/fcitx
/.config/fcitx5
/.config/filezilla
/.config/firewall
/.config/flacon
/.config/flameshot
/.config/freac
/.config/gh
/.config/ghb
/.config/gImageReader
/.config/GIMP
/.config/GitExtensions
/.config/GitHub Desktop
/.config/gitify
/.config/glow
/.config/go
/.config/godot
/.config/gpicview
/.config/gtk-3.0
/.config/ibus
/.config/icon-explorer
/.config/io.github.clash-verge-rev.clash-verge-rev
/.config/kazam
/.config/kdeglobals
/.config/kdenlive-layoutsrc
/.config/kdenliverc
/.config/libreoffice
/.config/LosslessCut
/.config/menus
/.config/mimeapps.list
/.config/Mousepad
/.config/mpv
/.config/nvm/nvm-exec
/.config/nvm/nvm.sh
/.config/obs-studio
/.config/obsidian
/.config/org.flozz.yoga-image-optimizer
/.config/pavucontrol.ini
/.config/pulse
/.config/qalculate
/.config/qBittorrent
/.config/QtProject.conf
/.config/QuiteRss
/.config/Raspberry Pi
/.config/ripgrep-all
/.config/ristretto
/.config/sqlitebrowser
/.config/systemd
/.config/TagSpaces
/.config/tdv
/.config/Thunar
/.config/tigervnc
/.config/Ultralytics
/.config/unity3d
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/vlc
/.config/VSCodium
/.config/xfce4
/.config/xnconvert
/.config/Zeal
/.continue
/.docker
/.duckdb
/.duckdb_history
/.eclipse
/.emulationstation
/.fltk
/.gitattributes
/.gitconfig
/.gitconfig.backup
/.gnupg
/.ICEauthority
/.icons
/.java
/.librewolf
/.links
/.local
/.mono
/.npm
/.nvm
/.oh-my-zsh
/.password-store
/.pki
/.pulse-cookie
/.putty
/.pyenv
/.pyglossary
/.rbenv
/.renpy
/.rustup
/.shell.pre-oh-my-zsh
/.silverdict
/.snipaste
/.spotdl
/.ssh
/.steam
/.steampath
/.steampid
/.swt
/.texlive2025
/.thunderbird
/.tmux
/.tmuxifier
/.var
/.vim
/.viminfo
/.vscode-oss
/.wakatime
/.wakatime-internal.cfg
/.warprc
/.wget-hsts
/.wine
/.Xauthority
/.xsession-errors
/.xsession-errors.old
/.zcompdump
/.zcompdump.*
/.zsh_history
/cache
/Desktop
/Downloads
/Game
/Games
/gPodder
/Usr
/bookmarks.txt
