fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=18000000
timeout=60000
# ELECTRON_MIRROR=
# ELECTRON_CUSTOM_DIR={{ version }}
# ELECTRON_BUILDER_BINARIES_MIRROR=
# registry=
# sass_binary_site=
# phantomjs_cdnurl=
# electron_mirror=
# profiler_binary_host_mirror=
# chromedriver_cdnurl=
