new_command _tts_sel_text bash.cmd tts_speaker.sh SQ _sioyek.wav "%{selected_text}"
new_command _edgetts_sel_text bash.cmd edgetts_andrew.sh "%{selected_text}"
new_command _goldendict_sel_text_word goldendict --group-name=default "%{selected_text}"
new_command _goldendict_sel_text goldendict --popup-group-name=translate "%{selected_text}"
search_url_l http://localhost:8080/?models=librarian&q=
