# new_command _ltts_selected_text bash.cmd ltts_bella.sh "%{selected_text}"
new_command _tts_selected_text bash.cmd tts_speaker.sh SQ _sioyek.wav "%{selected_text}"
new_command _edgetts_selected_text bash.cmd edgetts_andrew.sh "%{selected_text}"
new_command _goldendict_selected_text goldendict "%{selected_text}"
search_url_l http://ubuntu22:8050/?models=librarian&q=
