Backup
Installed Packages
Lib
Lib/python38
Local
Packages/Base16 Color Schemes
Packages/ChineseOpenConvert
Packages/Color Scheme - Default
Packages/CommandsBrowser33
Packages/JsPrettier
Packages/lsp_utils
Packages/Minify
Packages/Mirodark Color Scheme
Packages/Pretty YAML
Packages/rainbow_csv
Packages/Terminal
Packages/User/Color Schemes
Packages/User/Color Schemes/RainbowBrackets
Packages/User/Log Highlight
Packages/User/Package Control.user-ca-bundle
Packages/zzz A File Icon zzz
